<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/css/setup-styles.css">
    <meta charset="UTF-8">
    <title>Редактирование транспорта</title>
</head>
<body>

<div class="edit-container">
    <h3>Редактирование транспорта </h3>
    <form th:action="@{/transports/update}" method="post" class="input-forms">
        <div class="edit-forms">
            <label for="id">ID (только чтение):</label>
            <br>
            <input type="text" id="id" name="id" th:value="${transport.id}" readonly/>
        </div>

        <div class="edit-forms">
            <label for="name">Название:</label>
            <br>
            <input type="text" id="name" name="name" th:value="${transport.name}" required/>
        </div>

        <div class="edit-forms">
            <label for="comment">Комментарий:</label>
            <br>
            <input type="text" id="comment" name="comment" th:value="${transport.comment}" />
        </div>

        <div class="edit-forms">
            <label for="type">Тип транспорта:</label>

            <select id="type" name="type" required>
                <option value="" th:unless="${transport.type}" th:text="-- выберите тип транспорта --"></option>
                <option th:each="type : ${transportTypes}"
                        th:value="${type}"
                        th:text="${type}"
                        th:selected="${type == transport.type}">
                </option>
            </select>
        </div>

        <div>
            <button type="submit" class="save-button">Сохранить изменения</button>
            <a href="/transports/table" class="cancel-button">Отменить</a>
        </div>
    </form>
</div>

</body>
</html>