<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/css/setup-styles.css">
    <meta charset="UTF-8">
    <title>Редактирование остановки</title>
</head>
<body>

<div class="edit-container">
    <h3>Редактирование остановки</h3>
    <form th:action="@{/stops/update}" method="post" class="input-forms">
        <div class="edit-forms">
            <label for="id">ID (только чтение):</label>
            <br>
            <input type="text" id="id" name="id" th:value="${stop.id}" readonly/>
        </div>

        <div class="edit-forms">
            <label for="name">Название:</label>
            <br>
            <input type="text" id="name" name="name" th:value="${stop.name}" required/>
        </div>

        <div class="edit-forms">
            <label for="comment">Комментарий:</label>
            <br>
            <input type="text" id="comment" name="comment" th:value="${stop.comment}" />
        </div>

        <div class="edit-forms">
            <label for="locationId">Локация:</label>

            <select id="locationId" name="locationId" class="edit-forms" required>
                <!-- Первая опция - текущая локация остановки -->
                <option th:value="${stop.locationId}"
                        th:text="${stop.locationName}">
                </option>
                <!-- Опции для выбора из всех доступных локаций, кроме текущей -->
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}"
                        th:selected="${location.id == stop.locationId}"
                        th:if="${location.id != stop.locationId}">
                    <!-- Остальные опции для выбора -->
                </option>
            </select>
        </div>
        <div>
            <button type="submit" class="save-button">Сохранить изменения</button>
            <a href="/stops/table" class="cancel-button">Отменить</a>
        </div>
    </form>
</div>

</body>
</html>