<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/css/setup-styles.css">
    <meta charset="UTF-8">
    <title>Редактирование локации</title>
</head>
<body>

<div class="edit-container">
    <b>Редактирование местоположения остановки </b>
    <form th:action="@{/locations/update}" method="post" class="input-forms">
        <div>
            <label for="id">ID (только чтение):</label>
            <br>
            <input type="text" id="id" name="id" th:value="${location.id}" readonly/>
        </div>
        <br>
        <div>
            <label for="name">Местоположение:</label>
            <br>
            <input type="text" id="name" name="name" th:value="${location.name}" required/>
        </div>
        <br>
        <div>
            <button type="submit" class="save-button">Сохранить изменения</button>
            <a href="/locations/location" class="cancel-button">Отменить</a>
        </div>
    </form>
</div>
</body>
</html>