<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/setup-styles.css">
    <meta charset="UTF-8">
    <title>Управление данными в БД</title>
</head>
<body>

<table class="outer-table">
    <thead>
    <tr>
        <th>Список остановок</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <table class="inner-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название остановки</th>
                    <th>Комментарий</th>
                    <th>Местоположение</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stop : ${stops}">
                    <td th:text="${stop.id}">ID</td>
                    <td th:text="${stop.name}">Название остановки</td>
                    <td th:text="${stop.comment}">Комментарий</td>
                    <td th:text="${stop.locationName}">Локация</td>
                    <td th:text="${stop.locationId}">Локация</td>
                    <td>
                        <!-- Ссылка для изменения остановки -->
                        <a th:href="@{/stops/edit/{id}(id=${stop.id})}" class="edit-link" aria-label="Изменить">
                            <img src="/images/edit.png" alt="Изменить" style="width: 15px; height: 15px;">
                        </a>
                    </td>
                    <td>
                        <!-- Форма для удаления остановки -->
                        <form th:action="@{/stops/deleteStop/{id}(id=${stop.id})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="delete-button" aria-label="Удалить">
                                <img src="/images/delete.png" alt="Удалить" style="width: 15px; height: 15px;">
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="top-aligned">
            <!-- Форма поиска -->
            <b>Фильтр по части названия остановки</b>
            <form action="#" th:action="@{/stops/table}" method="get" class="input-forms">
                <input type="text" name="name" placeholder="Введите часть названия остановки"/>
                <br>
                <button type="submit">Поиск</button>
            </form>
            <br>
            <!-- Форма добавления остановки -->
            <b>Добавление новой остановки</b>
            <form action="#" th:action="@{/stops/add}" method="post" class="input-forms">
                <input type="text" name="name" placeholder="Введите название остановки" required/>
                <br>
                <input type="text" name="comment" placeholder="Введите комментарий"/>
                <br>
                <label for="locationId">Локация:</label>
                <select id="locationId" name="locationId" required>
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name}">
                    </option>
                </select>

                <button type="submit">Добавить остановку</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>